@model List<ADProjectBase2.Models.Item>

@{
    ViewData["Title"] = "ManageStocks";
}

<h2><b><span><img src="~/images/edit.png" height="30" width="30">&nbsp;Manage Stocks</span></b></h2>
<hr class="style-three" />
<hr />

<head>

    <style>

        .button {
            display: inline-block;
            border-radius: 4px;
            background-color: #72c8ba;
            border: none;
            color: #FFFFFF;
            text-align: center;
            font-size: 14px;
            padding: 4px;
            width: 200px;
            transition: all 0.5s;
            cursor: pointer;
            margin: 5px;
        }

            .button span {
                cursor: pointer;
                display: inline-block;
                position: relative;
                transition: 0.5s;
            }

                .button span:after {
                    content: '»';
                    position: absolute;
                    opacity: 0;
                    top: 0;
                    right: -20px;
                    transition: 0.5s;
                }

            .button:hover span {
                padding-right: 25px;
                color: #fff;
            }

                .button:hover span:after {
                    opacity: 1;
                    right: 0;
                }

        .btn-primary {
            color: #fff;
            background-color: #6a9bc4;
            border-color: transparent;
            padding: 4px;
            width: 150px;
            border-radius: 15px;
        }

            .btn-primary:focus,
            .btn-primary.focus {
                color: #fff;
                background-color: #87a3c1;
                border-color: transparent;
            }

            .btn-primary:hover {
                color: #fff;
                background-color: #87a3c1;
                border-color: transparent;
            }


        .searchStyle {
            -webkit-box-shadow: 0 0 0 1000px #fff inset;
            border-radius: 10px;
            border: 1px solid #DBDBDB;
            background: #DBDBDB;
            padding-left: 10px;
        }


        h2 {
            text-shadow: 7px 7px 7px #dad6d6;
            color: #707272
        }

        .background {
            background-image: url(../Images/BACKGROUND.jpg);
            background-repeat: inherit;
            background-size: 100%;
            padding-top: 50px;
            padding-bottom: 20px;
        }


        .style-three {
            width: 80%;
            margin: 0 auto;
            border: 0;
            height: 1px;
            background: #333;
            background-image: linear-gradient(to right, #ccc, #333, #ccc);
        }
    </style>


</head>
<body class="background">
    <form asp-action="ManageStocks" method="get">
        <div class="form-actions no-color">
            <p>
                <label>Find by name</label>&nbsp;&nbsp;
                <input type="text" name="SearchString" value="@ViewData["currentFilter"]" class="searchStyle" size="75" />
        
                <button class="btn-primary" type="submit"><i class="fas fa-search"></i>&nbsp;Search</button>
            </p>
        </div>
    </form>


    @using (Html.BeginForm("ManageStocks", "Items", FormMethod.Post))
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Item ID
                    </th>
                    <th>
                        Item Name
                    </th>
                    <th>
                        Stocks
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    for (int i = 0; i < Model.Count; i++)
                    {
                        <tr>

                            <td>
                                @Model[i].ItemId
                                <input type="hidden" asp-for="@Model[i].ItemId" />
                            </td>
                            <td>
                                @Model[i].ItemName
                            </td>
                            <td>
                                <input asp-for="@Model[i].Stock" type="text" value="@Model[i].Stock" class="searchStyle" size="20" style="border-radius:0px"/>
                                <span asp-validation-for="@Model[i].Stock" class="text-danger"></span>
                            </td>
                        </tr>
                    }
                }

            </tbody>
            <tr>
                <td colspan="3">
                    <br />
                    <div class="form-group col-md-5">
                        <button class="button" onclick="return confirm('Are you sure to submit?')" type="submit"><span><b>Submit</b></span></button>
                    </div>
                </td>
            </tr>
        </table>
    }
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

</body>
