@model ADProjectBase2.Models.AdjustmentVoucher

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>AdjustmentVoucher</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AdjustId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
