@{
    var XLabels = Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.xvalue);
    var YValues = Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.yvalue);
    var YValues2 = Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.yvalue2);
    var YValues3 = Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.yvalue3);

    var XlLabels = Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.xlvalue);
    var YlValues = Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.ylvalue);
    var YlValues2 = Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.ylvalue2);
    var YlValues3 = Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.ylvalue3);
    ViewData["Title"] = "Dashboard";
}
<html>
<head>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        #chart_container {
            width: 400px;
            height: 400px;
            border: 1px, solid #ddd;
            padding: 1px;
            border-radius: 4px;
        }

        .button {
            display: inline-block;
            border-radius: 4px;
            background-color: #72c8ba;
            border: none;
            color: #FFFFFF;
            text-align: center;
            font-size: 14px;
            padding: 4px;
            width: 200px;
            transition: all 0.5s;
            cursor: pointer;
            margin: 5px;
        }

            .button span {
                cursor: pointer;
                display: inline-block;
                position: relative;
                transition: 0.5s;
            }

                .button span:after {
                    content: '»';
                    position: absolute;
                    opacity: 0;
                    top: 0;
                    right: -20px;
                    transition: 0.5s;
                }

            .button:hover span {
                padding-right: 25px;
                color: #fff;
            }

                .button:hover span:after {
                    opacity: 1;
                    right: 0;
                }

        h2 {
            text-shadow: 7px 7px 7px #dad6d6;
            color: #707272
        }

        .background {
            background-image: url(../Images/BACKGROUND.jpg);
            background-repeat: inherit;
            background-size: 100%;
            padding-top: 50px;
            padding-bottom: 20px;
        }


        .style-three {
            width: 80%;
            margin: 0 auto;
            border: 0;
            height: 1px;
            background: #333;
            background-image: linear-gradient(to right, #ccc, #333, #ccc);
        }
    </style>

</head>

<body class="background">
    <hr />
    <div class="row">
        <form asp-action="Dashboard" method="post">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Date 1</label>
                    @*//**********start*@
                    <div><select name="year1"  asp-items="ViewBag.Year1"   style="width:280px;height:25px"></select></div>
                    <div><select name="month1"  asp-items="ViewBag.Month1"  style="width:280px;height:25px"></select></div>
                </div>
                <div class="form-group">
                    <label>Date 2</label>
                    <div><select name="year2"  asp-items="ViewBag.Year2"  style="width:280px;height:25px"></select></div>
                    <div><select name="month2"  asp-items="ViewBag.Month2"  style="width:280px;height:25px"></select></div>
                </div>
                <div class="form-group">
                    <label>Date 3</label>
                    <div><select name="year3"  asp-items="ViewBag.Year3"  style="width:280px;height:25px"></select></div>
                    <div><select name="month3"  asp-items="ViewBag.Month3"  style="width:280px;height:25px"></select></div>
                </div>
                <hr />
                <div class="form-group">
                    <label>Category</label>
                    <div><select name="categories"  asp-items="ViewBag.Cate"  style="width:280px;height:25px"></select></div>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <label>Department 1</label>
                    <div><select name="dept1"  asp-items="ViewBag.Dept1"  style="width:280px;height:25px"></select></div>
                    <br />
                </div>
                <div>
                    <label>Department 2</label>
                    <div><select name="dept2" asp-items="ViewBag.Dept2"  style="width:280px;height:25px"></select></div>
                    <br />
                </div>
                <div>
                    <label>Department 3</label>
                    <div><select name="dept3"  asp-items="ViewBag.Dept3"  style="width:280px;height:25px"></select></div>
                    <br />
                </div>
                @*//**********end*@
            </div>
            <div class="form-group">
                <b><input type="submit" value="Create" class="button" style="margin-top:23px" /></b>
            </div>
        </form>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <div id="chart_container">
                <canvas id="bar_chart"></canvas>
            </div>
        </div>
        <div class="col-md-4">
            <div id="chart_container">
                <canvas id="line_chart"></canvas>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var ldate = @Html.Raw(XlLabels);
        var lqty = @Html.Raw(YlValues);
        var lqty2 = @Html.Raw(YlValues2);
        var lqty3 = @Html.Raw(YlValues3);

        var ctx = $("#line_chart")
        var lineChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ldate,
                datasets: [
                    {
                        label: "@ViewBag.lDept1",
                        data: lqty,
                        backgroundColor: "blue",
                        borderColor: "lightblue",
                        fill: false,
                        lineTension: 0,
                        radius: 5
                    },
                    {
                        label: "@ViewBag.lDept2",
                        data: lqty2,
                        backgroundColor: "green",
                        borderColor: "lightgreen",
                        fill: false,
                        lineTension: 0,
                        radius: 5
                    },
                    {
                        label: "@ViewBag.lDept3",
                        data: lqty3,
                        backgroundColor: "red",
                        borderColor: "pink",
                        fill: false,
                        lineTension: 0,
                        radius: 5
                    },
                ]
            },
            options: {
                maintainAspectRatio: false,
                scales: {
                    xAxes: [{ ticks: { beginAtZero: true } }],
                    yAxes: [{ ticks: { beginAtZero: true } }]
                },
                legend: {
                    display: true,
                    position: "bottom",
                    labels: {
                        fontColor: "#333",
                        fontSize: 16
                    }
                }
            },
        });
    </script>
    <script type="text/javascript">
        var dept = @Html.Raw(XLabels);
        var qty = @Html.Raw(YValues);
        var qty2 = @Html.Raw(YValues2);
        var qty3 = @Html.Raw(YValues3);

        var ctx = $("#bar_chart");
        var barChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: dept,
                datasets: [
                    {
                        label: "@ViewBag.Date1",
                        data: qty,
                        backgroundColor: "blue",
                        borderColor: "lightblue",
                        borderwidth: 1
                    },
                    {
                        label: "@ViewBag.Date2",
                        data: qty2,
                        backgroundColor: "green",
                        borderColor: "lightgreen",
                        borderwidth: 1
                    },
                    {
                        label: "@ViewBag.Date3",
                        data: qty3,
                        backgroundColor: "red",
                        borderColor: "pink",
                        borderwidth: 1
                    }
                ]
            },
            options: {
                maintainAspectRatio: false,
                scales: {
                    xAxes: [{ ticks: { beginAtZero: true } }],
                    yAxes: [{ ticks: { beginAtZero: true } }]
                },
                legend: {
                    display: true,
                    position: "bottom",
                    labels: {
                        fontColor: "#333",
                        fontSize: 16
                    }
                }
            },
        });

    </script>

</body>

</html>

